<footer class="text-center text-white" style="background-color: #233b6a">
  <div class="container text-center text-md-start mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="fw-bold mb-4 footer-title">Scigrow</h6>
        <div class="container">
          <div class="row">
            <div class="column logo-image">
              <img
                src="../../../assets/footer assets/facebook-512.png"
                class="img-fluid"
              />
            </div>
            <div class="column logo-image">
              <img
                src="../../../assets/footer assets/Instagram.png"
                class="img-fluid"
              />
            </div>
            <div class="column logo-image">
              <img
                src="../../../assets/footer assets/twitter-512.png"
                class="img-fluid"
              />
            </div>
            <div class="column logo-image">
              <img
                src="../../../assets/footer assets/Github.png"
                class="img-fluid"
              />
            </div>
          </div>
         
        </div>
        <p class="copyright">© Scigrow Web, 2022</p>
      </div>

      <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4"></h6>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
      </div> -->

      <!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4"></h6>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
      </div> -->

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4 sunflower">CONTACTENOS</h6>
        <p><i class="fas fa-home me-3"></i> scigrow@correo.com</p>
        <p><i class="fas fa-phone me-3"></i> +57 XXX XXX XXX</p>
      </div>
    </div>
  </div>
</footer>
