@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@500;700&display=swap");

footer {
  background-color: #233b6a;
  color: #fbfafd;
  font-size: 16px;
  position: relative;
  bottom: 0;
}

.footer-title {
  font-family: "Sunflower", sans-serif;
  font-size: x-large;
}

.sunflower {
  font-family: "Sunflower", sans-serif;
}

.copyright {
  padding-top: 1px;
}

.logo-image{
  width: 70px;
  height: 70x;
  overflow: hidden;
}

.container {
  display: inline;
}

