<footer class="text-center text-white" style="background-color: #233b6a">
  <div class="container text-center text-md-start mt-1">
    <div class="row">
      <div class="col-md-0 col-lg-0 col-xl-3 mx-auto mb-0">
        <p class="fw-bold mb-0 footer-title">Scigrow</p>
        <div class="container">
          <div class="row"> 
            <div class="column logo-image">
              <img src="../../../assets/footer assets/facebook-512.png" height ="20" width="20" class="img-fluid"/>
            </div>
            <div class="column logo-image">
              <img src="../../../assets/footer assets/Instagram.png" height ="20" width="20" class="img-fluid"/>
            </div>
            <div class="column logo-image">
              <img src="../../../assets/footer assets/twitter-512.png" height ="20" width="20" class="img-fluid"/>
            </div>
            <div class="column logo-image">
              <img src="../../../assets/footer assets/Github.png" height ="20" width="20" class="img-fluid"/>
            </div>
          </div>
        </div>
        <p class="copyright">© Scigrow Web, 2022</p>
      </div>
      <div class="col-md-0 col-lg-0 col-xl-3 mx-auto mb-md-0 mb-0">
        <h6 class="text-uppercase fw-bold mb-4 sunflower">CONTACTENOS</h6>
        <p><i class="fas fa-home me-1"></i> scigrow@correo.com</p>
        <p><i class="fas fa-phone me-1 me-1"></i> +57 XXX XXX XXX</p>
      </div>
    </div>
  </div>
</footer>
