<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="BUSACR" aria-label="BUSACR" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">BUSACR</button>
</div>
<p>

</p>
  <h5 style="text-align: left ;">
    mision 
  </h5>
<div>
    <p style="text-align: justify;">
      <li>
nuestra pagina se encarga de organizar informacion y <br>
hacerla mas accesible  un ambiente divertido donde <br>
el cliente disfrute de la facilidad demanejo de la <br>
aplicacion mejorar el nivel de experiencia del cliente <br>
medinate el uso de esta tecnologia .....
</li>
    </p>
</div>
<h5 style="text-align: left ;">
  Vision 
</h5>
<div>
  <p style="text-align: justify;">
<li>
  nuestra pagian proporcionara acceso a la informacion <br>
  dar un buen manejo a esta informacion para hacer que <br>
  compartir investigaciones sea de una manera  mas inovadora <br>

</li>  </p>
</div>