<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <h5 style="text-align: left">MISION</h5>
      <div>
        <p style="text-align: justify">
          <li>
            Nuestra pagina se encarga de organizar informacion y hacerla mas
            accesible en un ambiente intuitivo donde el cliente disfrute de la
            facilidad de manejo de la aplicacion mejorar el nivel de experiencia
            del cliente mediante el uso de esta tecnologia <br /><br />

            Qui ex incididunt ullamco irure eiusmod Lorem sit minim consectetur.
            Proident laboris ex Lorem ullamco do culpa. Commodo anim nostrud
            reprehenderit enim deserunt voluptate laborum cupidatat Lorem. Ex
            officia duis ad elit in cupidatat deserunt magna ad elit aute et eu.
            Sint dolore cupidatat excepteur labore non ea nostrud reprehenderit.
            Exercitation aute irure aute in exercitation ad. Non cupidatat non
            enim Lorem fugiat elit do Lorem esse magna laboris ipsum nulla.
          </li>
        </p>
      </div>
      <h5 style="text-align: left">VISION</h5>
      <div>
        <p style="text-align: justify">
          <li>
            Eu sunt cillum eu mollit laborum elit ea sit. Aute ullamco tempor
            magna minim voluptate aliqua aute amet culpa. Culpa cillum ex ipsum
            laboris exercitation proident mollit amet quis cupidatat.
            <br /><br />

            Ut sunt dolore culpa nisi nostrud fugiat nostrud amet labore nisi
            sunt magna. Adipisicing quis sunt esse incididunt culpa aute nisi
            eiusmod irure excepteur occaecat ut eu. Laboris labore cupidatat
            irure dolore labore reprehenderit reprehenderit tempor occaecat sit
            aliqua aliqua et dolor. Ullamco cupidatat adipisicing veniam elit.
            Anim sit anim sint commodo cupidatat. Eiusmod cillum quis laborum
            nostrud.
          </li>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <input
          type="search"
          class="form-control rounded"
          placeholder="BUSCAR"
          aria-label="BUSCAR"
          aria-describedby="search-addon"
        />
        <button type="button" class="btn btn-outline-primary">BUSCAR</button>
      </div>
    </div>
  </div>
</div>
