
<div class="container-fluid mt-5 mb-4">
  <form style="justify-content: center;  align-items: center;" action="">
    <select style="width: 100%;" name="" id="">
      <option value="value1">Cat1</option>
      <option value="value2" selected>Cat2</option>
      <option value="value3">Cat3</option>

    </select>

    <select class="mt-2" style="width: 100%;" name="" id="">
        <option value="value1">Proy1</option>
        <option value="value2" selected>Proy2</option>
        <option value="value3">Proy3</option>
        
      </select>

    <button class="btn-dark mt-2">BUSCAR</button>
  </form>
</div>
