 <form action="registro" method="get">
  <p>Nombre: <input type="text" name="nombre" size="40"></p>
  <p>Apellido: <input type="text" name="apellido" size="40"></p>
  <p>Año de nacimiento: <input type="number" name="nacido" min="1900"></p>
    <p>correo: <input type="text" name="correo" size="40"></p>
    <p>
      Nivel
      <input type="radio" name="hm" value="h"> investigador
    <input type="radio" name="hm" value="m"> estudiante
    </p>
<p>
    <input type="submit" value="Registrar">
    <input type="reset" value="Eliminar">
  </p>
</form>