<div class="d-flex justify-content-center mt-3 mb-0" style="display: block;">
   
  
  <form class="form">

    <label for="foto" size="30" class="form-label"><strong>Agregue una foto de perfil</strong></label>
    <div style="padding-bottom: 5px;" class="logo-image">
        <img class="img-fluid" src="../../../assets/shared/Login.png" alt="Login">
    </div>

    <div class="mt-0 mb-0">
      <input type="text" size="30" class="form-control" id="user" placeholder="Nickname">
    </div>

    <div class="mt-0 mb-0">
      <input type="text" size="30" class="form-control" id="nombres" placeholder="Nombres"> 
    </div>

    <div class="mt-0 mb-0">
      <input type="text" size="30" class="form-control" id="apellidos" placeholder="Apellidos">
    </div>


    <div class="mt-0 mb-0">
      <input type="email" size="30" class="form-control" id="correo" placeholder="Email">
    </div>

    <div class="mt-0 mb-0">
      <input type="password" size="30" class="form-control" id="password" placeholder="Contraseña">
    </div>

    <div class="mt-2 mb-3">
      <button [routerLink]="['/registro']" >REGISTRATE</button>
    </div>

  </form>
</div>