<div class="d-flex justify-content-center mt-5 mb-4" style="display: block;">
   

  <form class="form">
    <div style="padding-bottom: 40px;" class="logo-image">
        <img class="img-fluid" src="../../../assets/shared/Login.png" alt="Login">
    </div>
    <p>NOMBRE DE USUARIO: <input type="text" name="usuario" maxlength="6" /></p>
    <p>CONTRASEÑA: <input type="password" name="password" minlength="6" /></p>
    <a href="" style="margin-bottom: 25px;" >Has olvidado tu contraseña?</a>
    <button style="margin-bottom: 25px;" type="submit">INICIAR SESION</button>
    <button [routerLink]="['/registro']" >REGISTRATE</button>
  </form>
</div>
