.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next {
    padding: 0.5em 1em;
    border: none;
    background: rgba(35, 59, 106, 1);
    color: white;
    cursor: pointer;
    width: 130px;
    height: 35px;
    border-radius: 8%;
  }

.divb{
    display: flex;
    align-items: center;
    justify-content: center;
}


  .label{
      text-align: center;
  }
