<div class="d-flex mt-5 mb-5 justify-content-center">
    <div class="row">
        <div class="col-sm">
            <h3 class=>Bienvenido a la gestion de usuarios</h3>
            <div>
                <ul class="mt-5 mb-5">
                    <li>Puedes agregar un nuevo usuario <br>
                        <button class="button" [routerLink]="['/agregar_usuario']">AGREGAR USUARIO</button>
                    </li>
                    <li>Puedes recuperar la contraseña de un usuario <br>
                        <button class="button">RECUPERAR CONTRASEÑA</button>
                    </li>
                    <li>Puedes eliminar un usuario <br>
                        <button class="button">ELIMINAR USUARIO</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <img class="img-margin mt-5" src="../../../../assets/admin assets/usuarios.png" alt="gestion">
        </div>
    </div>
    
</div>
