.logo-image{
    width: 70px;
    height: 70x;
    overflow: hidden;
    margin-top: -6px;
  }

  .form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input {
    width: 90%;
    height: 30px;
    margin: 0.3rem; 
  }

  .form select {
    width: 90%;
    height: 35px;
    margin: 0.3rem; 
  }
  
.btnBlue {
    padding: 0.5em 1em;
    border: none;
    background: rgba(35, 59, 106, 1);
    color: white;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 8%;
  }

  .btnRed{
    padding: 0.5em 1em;
    border: none;
    background: rgb(155, 52, 52);
    color: white;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 8%;
  }
